<!DOCTYPE html>
<html>
<head>
  <title>CSV 업로드</title>
</head>
<body>
<h1>CSV 파일 업로드</h1>
<form action="/csvDD" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" accept=".csv" required>
  <button type="submit">업로드</button>
</form>
<form action="webtest">
  <input type="text">
  <textarea>삭제 테스트</textarea>
  <button type="submit">삭제</button>
</form>


<form action="test">
  <input type="text">
  <textarea>값이 자바스크립트로 나오는지 확인</textarea>
  <button type="submit">사용</button>
</form>
</body>
</html>