<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>CSV 업로드</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.2.0/js/all.js"></script>
</head>
<body class="bg-primary">
<div id="layoutAuthentication">
    <i class="fas fa-spinner fa-10x fa-spin" id="custom-spinner"></i>
    <div id="layoutAuthentication_content">
        <main>
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4">3D Graph Maker</h3></div>
                        <div class="card-body">
                            <div class="small mb-3 text-muted">.csv 파일을 넣어주세요.</div>
                            <form action="/upload" method="post" enctype="multipart/form-data" id="form-upload-file">
                                <div class="d-flex flex-column">
                                    <input type="file" name="file" accept=".csv" class="form-control" required>
                                    <button type="submit" class="btn btn-primary mt-2" id="btn-upload-file">업로드</button>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <p>3D 그래프를 만드는 건 데이터를 시각적으로 보기 좋게 나타내는 방법 중 하나야.</p>
                            <p>일반적으로 3차원 그래프를 만들 때, 데이터를 가져와 x, y, z 축에 해당하는 값을 가지고 그려.</p>
                            <p>이를 위해 Matplotlib 같은 라이브러리를 사용할 수 있어. 먼저 데이터를 생성하고,</p>
                            <p>그 다음에 그 데이터를 이용해 3차원 공간에 적합한 그래프를 그려. 이를 통해 데이터 간의 관계나 분포를 한 </p>
                            <p> 눈에 파악할 수 있게 돼. 3D 그래프는 다양한 형태로 표현될 수 있어서, 그래프의 종류나 스타일을 데이터와 맞추는 게 중요해.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
<div id="upload-cover"><div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
<script src="js/sqlTest.js" type="module"></script>
<link href="/css/sqlTest.css" rel="stylesheet" />
</body>
</html>